.nav_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-left: 40px;
}

.nav_logo img {
  height: 75px;
  width: auto;
  padding-bottom: 5px;
}

.book_wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #530000b8;
  height: 500px;
  width: clamp(260px, 50vw, 700px);
  border-radius: 20px;
  margin-bottom: 40px;
}

.book_title {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.book_title p {
  font-size: 1.2rem;
}

.book_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
}

.book_cover img {
  height: 100px;
  width: auto;
}

.price_and_likes {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(5px, 3vw, 30px);
  padding-right: clamp(5px, 3vw, 30px);
}

.likes_and_heart {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.likes_and_heart p {
  margin-top: 10px;
}

.heart_button img {
  height: 35px;
  width: auto;
}

.heart_button {
  background: none;
  border: none;
  cursor: pointer;
}

.book_infos {
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: clamp(5px, 3vw, 30px);
  padding-right: clamp(5px, 3vw, 30px);
}

.book_info_left {
  justify-content: flex-start;
}

.book_info_right {
  justify-items: flex-end;
}

.book_comment_headline {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  padding-left: clamp(5px, 3vw, 30px);
}

.book_comment_headline p {
  font-weight: bold;
}

.comment_container {
  display: flex;
  height: 180px;
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  padding-left: clamp(5px, 3vw, 30px);
  padding-right: clamp(5px, 3vw, 30px);
}

.comment_section_user_name {
  vertical-align: top;
  padding-right: 60px;
}

.comment_section_user_name p {
}

.comment_input {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.comment_input input {
  height: 20px;
  width: 80%;
  background-color: #646c19;
  border: none;
}

.comment_input button {
  height: 40px;
  width: 17%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.send_button img {
  height: 38px;
  width: auto;
  transform: rotate(26deg);
}
