.nav_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-left: 40px;
}

.nav_logo img {
  height: 75px;
  width: auto;
  padding-bottom: 5px;
}

.content_container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: rgba(131, 108, 13, 0.534);
  height: 600px;
  width: clamp(260px, 60vw, 700px);
  border-radius: 12px;
}

.book_title {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.book_title p {
  font-size: 2rem;
}

.book_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
}

.book_cover img {
  height: 100px;
  width: auto;
}

.price_and_likes {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(20px, 10vw, 40px);
  padding-right: clamp(20px, 10vw, 10px);
}

.likes_and_heart {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.likes_and_heart p {
  margin-top: 7px;
}

.heart_button img {
  height: 35px;
  width: auto;
}

.heart_button {
  background: none;
  border: none;
  cursor: pointer;
}

.book_infos {
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.book_info_left {
}

.book_info_right {
  justify-items: flex-end;
}

.book_comment_headline {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  padding-left: 20px;
}

.comment_container {
  display: flex;
  height: 180px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.comment_section_user_names {
  height: 100%;
  width: 50%;
}

.comment_section_user_comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 95%;
  width: 50%;
  overflow-y: auto;
  background: transparent;
}

.comment_input {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.comment_input input {
  height: 20px;
  width: 80%;
  background-color: #646c19;
  border: none;
}

.comment_input button {
  height: 40px;
  width: 17%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.send_button img {
  height: 38px;
  width: auto;
  transform: rotate(26deg);
}
