.nav_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.book_wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #53000090;
  height: 600px;
  width: clamp(260px, 90vw, 500px);
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.7);
}

.book_title {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.book_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.price_and_likes {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(5px, 3vw, 30px);
  padding-right: clamp(5px, 3vw, 30px);
  padding-top: 10px;
  padding-bottom: 10px;
}

.likes_and_heart {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.heart_button {
  background: none;
  border: none;
  cursor: pointer;
}

.book_infos {
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: clamp(5px, 3vw, 30px);
  padding-right: clamp(5px, 3vw, 30px);
  padding-top: 10px;
  padding-bottom: 10px;
}

.book_info_left {
  justify-content: flex-start;
}

.book_info_right {
  justify-items: flex-end;
}

.book_comment_headline {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  padding-left: clamp(5px, 3vw, 30px);
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment_container {
  display: flex;
  height: 270px;
  width: 97%;
  align-items: flex-start;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: clamp(5px, 3vw, 30px);
  padding-right: clamp(5px, 3vw, 30px);
  padding-top: 10px;
  padding-bottom: 20px;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.comment_section_user_name {
  vertical-align: top;
  padding-right: 0px;
  font-weight: bold;
}

.comment_table {
  table-layout: fixed;
  width: 100%;
}

.comment_input {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.comment_table td:first-child {
  font-weight: 500;
  padding-right: 10px;
  color: rgb(218, 218, 135);
}

td.comment_section_user_comment {
  max-width: 300px;
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  color: rgb(172, 171, 170);
}

.comment_table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.comment_input input {
  height: 20px;
  width: 80%;
  background-color: #ad4444a4;
  border: none;
  border-radius: 4px;
}

.comment_input input::placeholder {
  color: rgba(0, 0, 0, 0.428);
}

.comment_input {
  padding-top: 5px;
}
