.section_divider {
  height: 0.5px;
  width: 96%;
  border-radius: 2px;
  background-color: #00000058;
  box-shadow: 0px 0px 4px 1px #0000005e;
}

.d_none {
  display: none;
}

.comment_container::-webkit-scrollbar {
  width: 6px;
}
.comment_container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.book_title p {
  font-size: 1.2rem;
}

.likes_and_heart p {
  margin-top: 10px;
}

.book_comment_headline p {
  font-size: 1.2rem;
  font-weight: bold;
}
