@font-face {
  font-family: "WinkyRough";
  src: url("./assets/font/WinkyRough-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

p {
  color: rgba(177, 175, 168, 0.534);
}

h1 {
  font-size: 2rem;
  color: rgb(193, 194, 196);
}
