* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #3700ff;
  z-index: 1000;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #3700ff;
  z-index: 1000;
}
